{% extends "layout.html" %}
{% block content %}
    <form method="POST" action="">
             {{ answer_form.hidden_tag() }}
             <fieldset class = "form-group">
                 <legend class="border-bottom mb-4">Select Jeopardy Answer - {{ ques_name }}</legend>
                 <div class="form-group">
                    {{ answer_form.answer_ques.label(class = "form-control-label") }}
                    {{ answer_form.answer_ques(class = "form-control form-control-lg") }}
                 </div>
             </fieldset>
             <div class = "form-group" >
                 {{ answer_form.submit_answer(class = "btn btn-outline-info" ) }}
             </div>
     </form>
    <div>
        <h1>{{ len_data }}</h1>
    </div>
{% endblock content %}