{% extends "layout.html" %}
{% block content %}
    <form method="POST" action="">
             {{ question_form.hidden_tag() }}
             <fieldset class = "form-group">
                 <legend class="border-bottom mb-4">Select Jeopardy Question</legend>
                 <div class="form-group">
                    {{ question_form.question.label(class = "form-control-label") }}
                    {{ question_form.question(class = "form-control form-control-lg") }}
                 </div>
             </fieldset>
             <div class = "form-group" >
                 {{ question_form.submit_question_choice(class = "btn btn-outline-info" ) }}
             </div>
     </form>
    <div>
        <h1>{{ len_data }}</h1>
    </div>
{% endblock content %}